﻿@model CasinoAnalysis.Deposite

@{
    ViewBag.Title = "Casino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add more money</h2>

@using (Html.BeginForm("ChargeMoney", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Value">
                Name
            </label>
            <div class="controls">
                @Html.ValidationMessage("Value")
                @Html.TextBox("User.Name", Model.User.Name, new { @readonly = "readonly" })
                @Html.TextBox("Value", Model.Value)
            </div>
        </div>


        <div class="form-actions">
            <button id="Reg" type="submit" class="btn btn-primary">
                Add
            </button>

        </div>
    </fieldset>
}