﻿@using CasinoAnalysis
@model WebCasino.Models.DicePlayer

@{
    ViewBag.Title = "Casino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.LastGameWin)
{
    <h2>You won!</h2>
}
else
{
    <h2>You loose!</h2>   
}


<a href="@Url.Action("Login", "User", new User{ Name = Model.Name, Balabce = Model.Balance })"><span>Home</span></a>
<a href="@Url.Action("PlayDice", "User", new {username = Model.Name, balance = Model.Balance})"><span>Play again</span></a>


