﻿@using CasinoAnalysis
@using WebCasino.Controllers
@model WebCasino.Models.RoulettePlayer

@{
    ViewBag.Title = "Roulette Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roulette Game</h2>

@using (Html.BeginForm("PartyRoulette", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                Name/Balance
            </label>
            <div class="controls">
                @Html.ValidationMessage("Name")
                @Html.TextBox("Name", Model.Name, new { @readonly = "readonly" })
                @Html.ValidationMessage("Balance")
                @Html.TextBox("Balance", Model.Balance, new { @readonly = "readonly" })
            </div>
            <label class="control-label" for="CurrentBet">
                Enter your bet:
            </label>
            <div class="controls">
                @Html.ValidationMessage("CurrentBet")
                @Html.TextBox("CurrentBet", Model.CurrentBet)
            </div>
            <label class="control-label" for="Number">
                Bet your number (0-36) or your color ('red' / 'black'):
            </label>
            <div class="controls">
                @Html.ValidationMessage("Input")
                @Html.TextBox("Input", Model.Input)
            </div>
        </div>


        <div class="form-actions">
            <button id="Reg" type="submit" class="btn btn-primary">
                Play
            </button>

        </div>
    </fieldset>
}