﻿@using CasinoAnalysis
@using WebCasino.Controllers
@model WebCasino.Models.DicePlayer

@{
    ViewBag.Title = "Dice Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dice Game</h2>

@using (Html.BeginForm("PartyDice", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label">
                Name/Balance
            </label>
            <div class="controls">
                @Html.ValidationMessage("Name")
                @Html.TextBox("Name", Model.Name, new { @readonly = "readonly" })
                @Html.ValidationMessage("Balance")
                @Html.TextBox("Balance", Model.Balance, new { @readonly = "readonly" })
            </div>
            <label class="control-label" for="CurrentBet">
                Enter your bet:
            </label>
            <div class="controls">
                @Html.ValidationMessage("CurrentBet")
                @Html.TextBox("CurrentBet", Model.CurrentBet)
            </div>
            <label class="control-label" for="Sum">
                Enter your sum:
            </label>
            <div class="controls">
                @Html.ValidationMessage("Sum")
                @Html.TextBox("Sum", Model.Sum)
            </div>
        </div>


        <div class="form-actions">
            <button id="Reg" type="submit" class="btn btn-primary">
                Play
            </button>

        </div>
    </fieldset>
}