﻿@model WebCasino.Models.CasinoPlayer
@{
    ViewBag.Title = "Casino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please, input name</h2>

@using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="Name">
                Name
            </label>
            <div class="controls">
                @Html.ValidationMessage("Name")
                @Html.TextBox("Name", Model.Name)
            </div>
        </div>


        <div class="form-actions">
            <button type="submit" class="btn btn-default">
                Enter
            </button>
            @Html.ActionLink("Cancel", "Index", null, null, new {@class = "btn"})
        </div>
    </fieldset>
}